.people-container {
    display: block;
    height: auto;
    width: auto;
    border-style: solid;
    border-color: black;
}

.person-container {
    display: block;
    height: auto;
    width: auto;
    border-style: dotted;
    border-color: rgb(13, 119, 190);
}

.bg-container {
    display: block;
    height: auto;
    width: auto;
    border-style: solid;
    border-color: black;
}

.item-container {
    display: block;
    height: auto;
    width: auto;
    border-style: dotted;
    border-color: rgb(204, 145, 17);
}

.clickable {
    display: block;
    height: 15px;
    width: 200px;
    border-style: solid;
    border-color: black;
    background-color: violet
}