.table-container {
    display: block;
    height: auto;
    width: auto;
    border-style: solid;
    border-color: black;
}

.bg-container {
    display: block;
    height: auto;
    width: auto;
    border-style: solid;
    border-color: black;
}

.clickable {
    display: block;
    height: 15px;
    width: 200px;
    border-style: solid;
    border-color: black;
    background-color: aqua
}